// start .sForm
.sForm {
	--sPT: #{rem(70)};
	--sPB: #{rem(37)};
	--sTPB: #{rem(29)};

	border-bottom: 10px solid $warning;

	&__main-row{
		@include roww(30px);
		margin-bottom: -30px;

		& > *{
			margin-bottom: 30px;
		}
	}
	&__img{
		@include media-breakpoint-down(lg){
			display: flex;
			align-items: center;
			justify-content: center;
		}
		img{
			width: auto;
			height: auto;
			max-width: 100%;
		}
	}

	.section-title{
		h2{
			color: $dark-blue;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	.form-wrap{
		&__input-wrap{
			margin: 0 0 25px 0;

			textarea{
				height: 140px;
				@include media-breakpoint-up(md){
					height: 113px;
				}
			}
		}
		&__input{

		}
		&__row{
			@include roww(30px);

			margin-bottom: -15px;

			& > *{
				margin-bottom: 15px;
			}
		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;
			border-radius: 0;
			color: $white;
			padding: 7.5px 15px;

			min-width: 100%;
			@include media-breakpoint-up(sm){
				min-width: 200px;
			}
			@include media-breakpoint-up(xl){
				min-width: 255px;
			}

		}
		&__policy-col{
			color: $input-placeholder-color;
			font-size: rem(12);
			font-weight: 300;
			text-align: left;

			a{
				color: currentColor;
				&:hover{
					color: $primary;
				}
			}
		}
		&__{}
	}

	//
	&__{}
	&__{}
} // end.sForm