// start .sContact
.sContact {
	height: 360px;
	@include media-breakpoint-up(sm){
		height: 400px;
	}
	@include media-breakpoint-up(lg){
		height: rem(536);
	}
	width: 100%;
	iframe{
		width: 100% !important;
		height: 100% !important;
	}
} // end.sContact