.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-right {
	font-size:(192.66/10)*1rem;
	width:(106.08/192.66)*1em;
}
.icon-fb {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-mark {
	font-size:(37.68/10)*1rem;
	width:(29.04/37.68)*1em;
}
.icon-tel {
	font-size:(27.97/10)*1rem;
	width:(27.97/27.97)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
