.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(24/10)*1rem;
	width:(22/24)*1em;
}
.icon-bus {
	font-size:(129.12/10)*1rem;
	width:(302.22/129.12)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-right {
	font-size:(192.66/10)*1rem;
	width:(106.08/192.66)*1em;
}
.icon-fb {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-hatchback {
	font-size:(75.61/10)*1rem;
	width:(218.54/75.61)*1em;
}
.icon-instagram {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-mark {
	font-size:(37.68/10)*1rem;
	width:(29.04/37.68)*1em;
}
.icon-sedan {
	font-size:(75.94/10)*1rem;
	width:(231.39/75.94)*1em;
}
.icon-suv {
	font-size:(96.3/10)*1rem;
	width:(240.11/96.3)*1em;
}
.icon-tel {
	font-size:(27.97/10)*1rem;
	width:(27.97/27.97)*1em;
}
.icon-telegram {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-truck {
	font-size:(149.53/10)*1rem;
	width:(262.74/149.53)*1em;
}
.icon-universal {
	font-size:(77.72/10)*1rem;
	width:(241.7/77.72)*1em;
}
.icon-viber {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-vk {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-whatsapp {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
