mixin sCategories(data)
	// start sCategories
	+b.sCategories#sCategories&attributes(attributes)
		.container
			.row
				mixin item(i,t, ...items)
					+e.col.col-lg-3.col-md-6.bg-wrap
						+pic(`cat-${i}.jpg`,'bg',0).picture-bg
						+e.title.strong= t
						ul
							each item in items
								li= item
						+e.foot
							+e.link(href="#") зайти в раздел
				+item(`1`,`комплексная мойка`,`Мойка кузова`,`Мойка кузова+салон`)

				+item(`2`,`Мойка кузова`,`Мойка экспресс`,`Мойка экспресс с шампунем`,`Мойка кузова`,`Химчистка кузова`,`Полировка кузова`) 

				+item(`3`,`Мойка салона`,`Уборка салона - полная`,`Уборка салона - спереди`,`Мойка коврика`,`Кондиционер кожи`,`Удаление запахов`)
				
				+item(`4`,`ХИМЧИСТКА салона`,`Химчистка салона - комплекс`,`Химчистка салона - базоваяс`,`Устранение запахов в салоне`,`Защитное покрытие салона`)

				+item(`5`,`ЗАЩИТНЫЕ ПОКРЫТИЯ КУЗОВА`,`Защитное покрытие – ЖИДКОЕ СТЕКЛО`,`Защитное покрытие – Керамическая защита`) 

				+item(`6`,`Мойка двигателя`,`Мойка двигателя – базовая`,`Мойка двигателя – паром`) 
				
				+item(`7`,`Дезинфекция салона`,`Озонирование`,`Сухой туман`) 

				+item(`8`,`Полировка`,`Восстановительная полировка`,`Глубокая полировка`)


	// end sCategories