mixin headerBlock()
	// start headerBlock
	+b.headerBlock#headerBlock&attributes(attributes)
		+e.control.container
			+arrow
		+e.slider--js.swiper-container
			.swiper-wrapper
				- for (var x = 0; x < 3; x++)
					+e.slide.swiper-slide.bg-wrap
						+pic("slide.jpg",'bg').picture-bg
						.container
							+e.block
								+e.title Мы&nbsp;нацелены на предоставление качественного обслуживания
								+e.btn(href="#") Заказать звонок
	// end headerBlock