mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			.row
				.col-xl-2.col-sm-auto
					h2 О НАС
				.col
					p Мы&nbsp;нацелены на&nbsp;предоставление качественного обслуживания, удовлетворение потребностей клиентов по&nbsp;выгодным ценам. <br> Наша цель&nbsp;&mdash; предоставить нашим клиентам самый дружественный и&nbsp;удобный способ ручной мойки.
	// end sAbout