extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCategories/_sCategories.pug
include ../blocks/sCalc/_sCalc.pug
include ../blocks/sFAQ/_sFAQ.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent

	+mob-mnu()
	+top-nav()
	+headerBlock().pt-0
	+sAbout
	+sCategories
	+sCalc
	+sContent
	+sFAQ
	+sForm()
	+sContact()
	+footer()


	